* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: aliceblue;
}

.contenedor {
    max-width: 1300px;
    margin: 0 auto;
    background-color:rgb(65, 65, 65);
}

header {
    padding: 20px;
    border-bottom: 1px solid #ffffff;
}

.logo {
    background-image: url(imagenes/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    width: 250px;
    color: transparent;

}

nav {
    margin-top: 15px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu li a {
    text-decoration: none;
    color: rgb(214, 179, 218);
    font-weight: bold;
}

.menu li a:hover {
    color: blueviolet;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 10px;
}

h3 {
    margin-bottom: 10px;
}

footer {
    padding: 15px;
    text-align: center;
    border-top: 1px solid #ffffff;
}

.destacados {
    margin-bottom: 40px;
}

.grilla {
    display: flex;
    gap: 20px;
}

.grilla figure {
    width: 30%;
    text-align: center;
}

.grilla img {
    width: 100%;
    height: auto;
    border: 1px solid #ffffff;
}

.productos {
    margin-bottom: 40px;
}

.grilla-productos {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.producto {
    width: 30%;
    border: 1px solid #ffffff;
    padding: 15px;
    text-align: center;
}

.producto img {
    width: 100%;
    height: auto;
}